<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>manage types and labels</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/me.css" th:href="@{/css/me.css}">
</head>
<body>


<!--navigation-->
<nav th:replace="admin/_fragments :: menu(3)" class="ui inverted attached segment m-padding-tiny">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui orange header item">ZKT</h2>
            <a href="#" class="item m-item m-mobile-hide"><i class="edit icon"></i>新建博客</a>
            <a href="#" class="item m-item m-mobile-hide"><i class="clone icon"></i>博客管理</a>
            <a href="#" class="item m-item m-mobile-hide"><i class="setting icon"></i>分类与标签管理</a>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-top-right m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>

<br>
<br>
<br>

<div class="c5 m-padding-big">
    <div class="ui segments">
        <div class="ui segment">
            <h3>新增分类</h3>
        </div>
        <div class="ui bottom attached segment">
            <form action="#" method="post" th:object="${tag}" th:action="@{/admin/sort_label/label/{id}(id=*{id})}" class="ui form">
                <input type="hidden" name="id" th:value="*{id}">
                <div class="field">
                    <div class="ui left labeled input">
                        <label class="ui orange basic label">标签名称</label>
                        <input type="text" name="name" placeholder="输入新的标签名" th:value="*{name}">
                    </div>
                </div>
                <div class="ui right aligned container">
                    <button class="ui orange submit button">提交</button>
                    <a type="button" th:href="@{/admin/sort_label}" class="ui basic orange button">取消</a>
                </div>
                <div class="ui negative message" th:unless="${#strings.isEmpty(msg)}" th:text="${msg}"></div>
            </form>
        </div>
    </div>
</div>

<br>
<br>
<br>
<br>

<!--/*/<th:block th:replace="admin/_fragments  :: script">/*/-->
<script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<!--/*/</th:block>/*/-->

</body>
</html>