<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>archive</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css">
</head>
<body>
<!--navigation-->
<nav th:replace="_fragments :: menu(4)" class="ui inverted attached segment m-padding-tiny">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui orange header item">ZKT</h2>
            <a href="#" class="item m-item m-mobile-hide"><i class="home icon"></i>首页</a>
            <a href="#" class="item m-item m-mobile-hide"><i class="folder icon"></i>分类</a>
            <a href="#" class="item m-item m-mobile-hide"><i class="tags icon"></i>标签</a>
            <a href="#" class="item m-item m-mobile-hide"><i class="clone icon"></i>归档</a>
            <div class="right item m-item m-mobile-hide">
                <div class="ui icon input">
                    <label>
                        <input type="text" placeholder="Search...">
                    </label>
                    <i class="search link icon"></i>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-top-right m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>

<!--content-->
<div class="c5 m-padding-big">
    <!--sort-->
    <div class="ui segment m-margin-medium m-padding-medium">
        <div class="ui middle aligned two column grid">
            <div class="column">
                <h3 class="ui orange header">归档</h3>
            </div>
            <div class="right aligned column">
                共
                <h3 class="ui orange header m-inline-block" th:text="${count}">14</h3>
                篇
            </div>
        </div>
    </div>

    <!--blog list-->
    <th:block th:each="item : ${archiveMap}">
        <div class="ui segments">
            <div class="ui segment" style="padding-bottom: 0.5em">
                <h3 class="ui orange header" style="padding-left: 0.7em" th:text="${item.key}">2001</h3>
            </div>
            <div class="ui orange segment" style="padding: 0 !important;">
                <div class="ui fluid vertical menu" style="margin: 0 !important;">
                    <a href="#" target="_blank" class="item" th:each="blog : ${item.value}"
                       th:href="@{/blog/{id}(id=${blog.id})}">
                        <span th:text="${blog.title}">title</span>
                        <div class="ui orange basic right aligned label"
                             th:text="${#dates.format(blog.publishTime, 'dd/MM')}">
                            01/31
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </th:block>

</div>


<footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padding-huge">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <div class="item">
                    <img src="../static/images/240px-TestImage.jpg" class="rounded image" alt=""
                         style="width: 110px">
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-opacity-70">test</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">test test</a>
                    <a href="#" class="item">test test</a>
                    <a href="#" class="item">test test</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-opacity-70">test</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">test test</a>
                    <a href="#" class="item">test test</a>
                    <a href="#" class="item">test test</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header m-opacity-70">test</h4>
                <p class="m-padding-medium m-opacity-70 m-text-spaced m-text-thin m-text-lined">
                    test test test test test test test test test test test test test test
                    test test test test test test test test test test test test test test
                    test test test test test test test
                </p>
            </div>
        </div>

        <div class="ui inverted section divider"></div>
        <p class="m-padding-medium m-text-spaced m-text-thin m-opacity-70">
            test test test test test test test test test test test test test test
        </p>
    </div>
</footer>


<script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    })
</script>
</body>
</html>