<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>archive</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css">
</head>
<body>
<!--navigation-->
<nav th:replace="_fragments :: menu(0)" class="ui inverted attached segment m-padding-tiny">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui orange header item">ZKT</h2>
            <a href="#" class="item m-item m-mobile-hide"><i class="home icon"></i>首页</a>
            <a href="#" class="item m-item m-mobile-hide"><i class="folder icon"></i>分类</a>
            <a href="#" class="item m-item m-mobile-hide"><i class="tags icon"></i>标签</a>
            <a href="#" class="item m-item m-mobile-hide"><i class="clone icon"></i>归档</a>
            <div class="right item m-item m-mobile-hide">
                <div class="ui icon input">
                    <label>
                        <input type="text" placeholder="Search...">
                    </label>
                    <i class="search link icon"></i>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-top-right m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>

<!--content-->
<div class="c5 m-padding-big m-padding-big2">
    <div class="ui segment m-margin-small" style="min-height: 500px">
        <div>
            <img class="ui circular image center-item-hor m-margin-7em-t" src="../static/images/img_2.png"
                 th:src="@{/images/img_2.png}" style="width: 150px;height: 150px;" alt="">
        </div>
        <div style="text-align: center; font-size: x-large; margin-top: -1.5em">Zkant</div>
        <!--<div style="text-align: center; font-size: x-large; margin: 5em">没有</div>-->
        <p style="text-align: center; margin-top: 1em">邮箱：catriri9@gmail.com</p>
        <hr style="width: 30%">
        <p style="text-align: center; margin-top: 2em">博客第一版</p>
        <p style="text-align: center">主要实现技术栈：Spring Boot</p>
        <p style="text-align: center">功能：管理员登录，博文编辑，分类、标签编辑，评论与回复评论，博客归档</p>

        <h3 style="text-align:center; margin-top: 2em">The End</h3>
    </div>

</div>


<footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padding-huge">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <div class="item">
                    <img src="../static/images/240px-TestImage.jpg" class="rounded image" alt=""
                         style="width: 110px">
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-opacity-70">test</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">test test</a>
                    <a href="#" class="item">test test</a>
                    <a href="#" class="item">test test</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-opacity-70">test</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">test test</a>
                    <a href="#" class="item">test test</a>
                    <a href="#" class="item">test test</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header m-opacity-70">test</h4>
                <p class="m-padding-medium m-opacity-70 m-text-spaced m-text-thin m-text-lined">
                    test test test test test test test test test test test test test test
                    test test test test test test test test test test test test test test
                    test test test test test test test
                </p>
            </div>
        </div>

        <div class="ui inverted section divider"></div>
        <p class="m-padding-medium m-text-spaced m-text-thin m-opacity-70">
            test test test test test test test test test test test test test test
        </p>
    </div>
</footer>


<script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    })
</script>
</body>
</html>